.icons{
    display: flex;
    column-gap: 25px;

}

.icon{
    background-color: grey;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property:  outline-offset, outline-color, background-color;
    transition-duration: .55s;
}

.icon:hover{
    outline-offset: 4px;

}
.icon:hover i{
    animation: shake .85s;
}
.icon--instagram:hover{
    background-image: 
    radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #2B5AEB 90%);
    outline-color:#a02d76;

}
.icon--twitter:hover{
    background-color: #1da1f2;
    outline-color:#1da1f2 ;
}
.icon--linkedin:hover{
    background-color: #0077b5;
    outline-color:#0077b5 ;
}
.icon--github:hover{
    background-color: #2ea44f;
    outline-color:#2ea44f ;
}

.icon--facebook:hover{
    background-color: #35aff1;
    outline-color:#35aff1 ;
}

@keyframes shake{
    10%{transform:rotate(25deg);}
    20%{transform:rotate(-15deg);}
    30%{transform:rotate(25deg);}
    40%{transform:rotate(-15deg);}
}


:root {
	--primario: #2c4896;
	--gris-claro: #000000;
	--sombra: 0 0 13px 0 rgba(0, 0, 0, 0.25);
}






/*! =================================================*/
/*! ============= Contenedor Preguntas ============= */
/*! =================================================*/
.contenedor-preguntas {
	display: none;
	grid-template-columns: 1fr;
	gap: 40px;
}

.contenedor-preguntas.activo {
	display: grid;
}

.contenedor-pregunta {
	background: #fff;
	padding: 40px;
	border: 2px solid transparent;
	border-radius: 10px;
	overflow: hidden;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor-pregunta:hover {
	box-shadow: var(--sombra);
}

.contenedor-pregunta.activa {
	border: 2px solid var(--primario);
    background-color: #1da1f2;
}

/*! =================================================*/
/*! ============= Preguntas ============= */
/*! =================================================*/
.pregunta {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pregunta img {
	width: 14px;
}

.respuesta {
	color: #000000;
	line-height: 30px;
	max-height: 0;
	opacity: 0;
	transition: .3s ease all;
}

.contenedor-pregunta.activa .respuesta {
	opacity: 1;
	margin-top: 20px;
}

.contenedor-pregunta.activa img {
	transform: rotate(45deg);
}

/*! =================================================*/
/*! ============= Responsive Design ============= */
/*! =================================================*/
@media screen and (max-width: 820px){
	.categorias {
		grid-template-columns: 1fr 1fr;
	}

	.categoria {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
	}

	.categoria svg {
		width: 30px;
		margin-right: 10px;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 500px){
	.categorias {
		grid-template-columns: 1fr;
	}
}